*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
   
  
}
body{
    font-family:montserrat;

}
/* nav bar styling */
nav{
   background-color: black;
   height: 100px;
   width: 100%; 
}
.logo img{

height: 100px;
width: 85px;
}
nav ul{
    float: right;
    margin-right:20px ;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    text-transform: uppercase;
    text-shadow: 3PX 3PX 10PX white;

}
nav ul li a {
    color: white;
    font-size: 16px;

}
.action,a:hover{
  color: bisque;
  transition: 0s;

}
/* nav bar styling close */

/* background image */
 @media screen {
    
 .bg-img {
    background: url(pic/background\ img.jpg);
    background-size: cover;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;

}}
/* background image off  */

/* button styling */
.btn1{
  box-shadow: 4px 4px 12px;
  width: 250px;
  height: 50px;
  background-color: red;
  border: 5px;
  border-color: black;
  
  
}
.btn2{
    box-shadow: 4px 4px 12px;
    width: 250px;
    height: 50px;
    background-color: green;
    border: 5px;
}
/* button stylling close */
